<ion-list class="lista-avatar">
  <ion-list-header>Meus Happs</ion-list-header>

  <ion-item *ngIf="!ownerHapps.length">
    <h2>Procurando programação?</h2>
    <p>Crie um novo HappHour e convide seus amigos!</p>
  </ion-item>

  <ion-item-sliding *ngFor="let happ of ownerHapps, trackBy: trackByHapps">

    <ion-item (tap)="detailHappHour(happ)">
      <ion-avatar item-left>
        <img src="{{ getPlaceLogo(happ) }}">
      </ion-avatar>
      <h2>{{ getName(happ) }}</h2>
      <ion-note>{{ getHappDate(happ) }}</ion-note>
    </ion-item>

    <ion-item-options side="left">
      <button ion-button color="danger" icon-left (tap)="cancelHappHour(happ)">
          <ion-icon name="close"></ion-icon>
          Cancelar
      </button>
    </ion-item-options>

    <ion-item-options side="right">
      <button ion-button color="light" icon-left (tap)="detailHappHour(happ)">
          <ion-icon name="ios-more"></ion-icon>
          Detalhar
      </button>

      <button *ngIf="!userHasCheckedIn(happ)" ion-button color="secondary" icon-left (tap)="checkInHappHour(happ)">
          <ion-icon name="checkmark"></ion-icon>
          Cheguei!
      </button>

      <button *ngIf="userHasCheckedIn(happ)" ion-button color="secondary" outline icon-only (tap)="showConfirmation()">
          <ion-icon name="thumbs-up"></ion-icon>      
      </button>

    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<ion-list class="lista-avatar">
  <ion-list-header>Happs que me Convidaram</ion-list-header>

  <ion-item *ngIf="!guestHapps.length">
    <h2>Não há convites para HappHour</h2>
    <p>Que tal você criar um?</p>
  </ion-item>

  <ion-item-sliding *ngFor="let happ of guestHapps, trackBy: trackByHapps">

    <ion-item (tap)="detailHappHour(happ)">
      <ion-avatar item-left>
        <img src="{{ getPlaceLogo(happ) }}">
      </ion-avatar>
      <h2>{{ getName(happ) }}</h2>
      <ion-note>{{ getHappDate(happ) }}</ion-note>
    </ion-item>

    <ion-item-options side="left">
      <button ion-button color="danger" icon-left (tap)="refuseHappHour(happ)">
          <ion-icon name="close"></ion-icon>
          Recusar
      </button>
    </ion-item-options>

    <ion-item-options side="right">
      <button ion-button color="light" icon-left (tap)="detailHappHour(happ)">
          <ion-icon name="ios-more"></ion-icon>
          Detalhar
      </button>

      <button *ngIf="!userHasCheckedIn(happ) && userIsConfirmed(happ)" ion-button color="secondary" icon-left (tap)="checkInHappHour(happ)">
          <ion-icon name="checkmark"></ion-icon>
          Cheguei!
      </button>

      <button *ngIf="userHasCheckedIn(happ) && userIsConfirmed(happ)" ion-button color="secondary" outline icon-only (tap)="showConfirmation()">
          <ion-icon name="thumbs-up"></ion-icon>      
      </button>

      <button *ngIf="!userIsConfirmed(happ)" ion-button color="primary" icon-left (tap)="confirmHappHour(happ, 'confirm')">
          <ion-icon name="checkmark"></ion-icon>
          Eu Vou!
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>