<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-icon name="notifications" item-start></ion-icon>
        <ion-label>Notificações</ion-label>
        <ion-toggle formControlName="notifications"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-icon name="pricetags" item-start></ion-icon>
        <ion-label>Promoções</ion-label>
        <ion-toggle formControlName="promotions"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-icon name="compass" item-start></ion-icon>
        <ion-label>Sugerir locais próximos</ion-label>
        <ion-toggle formControlName="geofances"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Distância de procura</ion-label>
        <ion-badge item-right>{{radius}} Mts</ion-badge>
      </ion-item>

      <ion-item>
        <ion-range min="0" max="1000" formControlName="searchRadius">
          <ion-icon range-left name="remove"></ion-icon>
          <ion-icon range-right name="add"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item [navPush]="subSettings" [navParams]="profileNavSettings">
        <ion-icon name="person" item-start></ion-icon>
        <ion-label>Meu perfil</ion-label>
      </ion-item>
    </ion-list>
  </form>

  <form [formGroup]="form" *ngIf="profileReady">
    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label stacked color="primary">Nome de exibição</ion-label>
        <ion-input type="text" formControlName="displayName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked color="primary">Telefone</ion-label>
        <ion-input type="tel" placeholder="(__) _________" [textMask]="mask_phone" formControlName="telephone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Genero</ion-label>
        <ion-select formControlName="gender" okText="Confirmar" cancelText="Cancelar">
          <ion-option value="female">Feminino</ion-option>
          <ion-option value="male">Masculino</ion-option>
          <ion-option value="other">Outro</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </form>

</ion-content>