<ion-header>
  <ion-navbar>
    <ion-title>{{ name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="{{ logo }}">
  <h3>{{ name }}</h3>
  <h4>{{ subname }}</h4>
  <hr>
  <p>{{ description }}</p>

  <div>
    <ion-list no-lines>
      <ion-list-header>
        Vantagens
      </ion-list-header>
      <ion-item *ngIf="isPontuavel">
        <ion-icon name="beer" isActive="{{ isPontuavel }}" item-left></ion-icon>
        <ion-textarea rows="2" readonly value="Troque seus HappPoints por itens do bar."></ion-textarea>
      </ion-item>
      <ion-item *ngIf="isReservavel">
        <ion-icon name="restaurant" isActive="{{isReservavel}}" item-left></ion-icon>
        <ion-textarea readonly value="Esse local aceita reservas."></ion-textarea>
      </ion-item>
      <ion-item *ngIf="isHappyOnDemand">
        <ion-icon name="timer" isActive="{{isHappyOnDemand}}" item-left></ion-icon>
        <ion-textarea rows="3" readonly value="Sua diversão no seu tempo! Aproveite o Happy Hour da casa no horário que quiser."></ion-textarea>
      </ion-item>
    </ion-list>
  </div>

  <div>
    <h5>Contato:</h5>
    <p *ngFor="let fone of telefones">{{fone}}</p>
    <h5>Endereço:</h5>
    <address>{{ address }}</address>
    <h5>Hoje:</h5>
    <p>{{isOpenNow}}</p>
  </div>

  <button ion-button full (tap)="createEvent()">Criar Happ agora!</button>
  <!--<button ion-button full (tap)="scheduleEvent()">Agendar Happ aqui!</button>-->

  <h5>Fotos:</h5>
  <ion-slides [autoplay]="1000*10" [loop]="true" [pager]="true" [slidesPerView]="1">
    <ion-slide *ngFor="let foto of place.fotosUrls">
      <img [src]="foto">
    </ion-slide>
  </ion-slides>

</ion-content>